{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div style="margin:50px">
    <div style="display: table;height: 50px;text-align: center;align-items:center">
        <div style="display: table-cell;background-color:white;border: 1px solid rgba(0, 0, 0, 0.125);width: 200px;margin:20px">
            <p style="padding:7px">Bitocoin</p>
        </div>
        <div style="display: table-cell;background-color:white;border: 1px solid rgba(0, 0, 0, 0.125);width: 200px;margin:20px">
            <p style="padding:7px">28/01/2023</p>
        </div>
        <div style="display: table-cell;background-color:white;border: 1px solid rgba(0, 0, 0, 0.125);width: 200px;margin:20px">
            <p style="padding:7px">22137 eur</p>
        </div>
    </div>
    <div style="padding:20px"><p style="color:white">Wykres ceny w przeciagu ostatniego tygodnia</p></div>
    <div style="width:600px">
        <canvas id="lastWeek" style="background-color:white"></canvas>
    </div>
    <div style="padding:20px"><p style="color:white">Wykres prognozowany</p></div>
    <div style="width:600px">
        <canvas id="prognoza" style="background-color:white"></canvas>
    </div>
    <div style="display: table;height: 50px;text-align: center;align-items:center;margin-top:30px">
        <div style="display: table-cell;background-color:white;border: 1px solid rgba(0, 0, 0, 0.125);width: 200px;margin:20px">
            <p style="padding:7px">Prognoza</p>
        </div>
        <div style="display: table-cell;background-color:white;border: 1px solid rgba(0, 0, 0, 0.125);width: 200px;margin:20px">
            <p style="padding:7px">WZROST</p>
        </div>
    </div>
    <div style="background-color:white;border: 1px solid rgba(0, 0, 0, 0.125);width: 600px;margin-top:30px">
        <p style="padding:7px">Chce otrzymywac alert o naglym spadku/wzroscie oraz informacje dotyczace prognozy kursu:</p>
    </div>
    <div style="display: table;background-color:white;border: 1px solid rgba(0, 0, 0, 0.125);width: 600px;margin-top:30px">
        <p style="display: table-cell;padding:7px">Adres email</p>
        <div style="display: table-cell;background-color:white;border: 1px solid rgba(0, 0, 0, 0.125);width: 400px;margin:20px">
            <input type="text" id="email" name="email">
        </div>
    </div>
    <div style="margin-top:30px;"><input type="submit" value="Zapisz mnie!"></div>


</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

const ctxOstTydzien = document.getElementById('lastWeek');
  new Chart(ctxOstTydzien, {
    type: 'line',
    data: {
      labels: ['22/01/2023', '23/01/2023', '24/01/2023', '25/01/2023', '26/01/2023', '27/01/2023','28/01/2023'],
      datasets: [{
        label:"Cena",
        data: [22145, 22378, 22564, 22897, 22132, 22765,22153],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

  const ctxPrognoza = document.getElementById('prognoza');
  new Chart(ctxPrognoza, {
    type: 'line',
    data: {
      labels: ['29/01/2023', '30/01/2023', '31/01/2023', '01/02/2023', '02/02/2023', '03/02/2023','04/02/2023'],
      datasets: [{
        label:"Cena prognozowana",
        data: [22145, 22378, 22564, 22897, 22132, 22765,22153],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
{% endblock %}
